# [dbo].[movimientos]

In [0]:
USE [cajaPopular]
GO

In [0]:
/****** Object:  Table [dbo].[movimientos]    Script Date: 20/01/2022 12:30:23 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movimientos](
	[id] [int] NULL,
	[nombres] [nvarchar](100) NULL,
	[Apellidos] [nvarchar](100) NULL,
	[saldoActual] [bigint] NULL,
	[concepto] [nvarchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[Socios]

In [0]:
/****** Object:  Table [dbo].[Socios]    Script Date: 20/01/2022 12:30:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Socios](
	[id] [int] IDENTITY(10,1) NOT NULL,
	[nombres] [nvarchar](100) NULL,
	[Apellidos] [nvarchar](100) NULL,
	[fechaNacimiento] [date] NULL,
	[Correo] [nvarchar](150) NULL,
	[Telefono] [nvarchar](15) NULL,
	[concepto] [nvarchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[movimientos]

In [0]:
INSERT [dbo].[movimientos] ([id], [nombres], [Apellidos], [saldoActual], [concepto]) VALUES (1, N'lorem', N'impsu', 2300, N'Aportacion Social')
INSERT [dbo].[movimientos] ([id], [nombres], [Apellidos], [saldoActual], [concepto]) VALUES (2, N'lorem', N'askjdbhasjkd', 50000, N'Retiro')
INSERT [dbo].[movimientos] ([id], [nombres], [Apellidos], [saldoActual], [concepto]) VALUES (3, N'dsdfac', N'csdcdc', 60000, N'Ahorro')
GO

# [dbo].[Socios]

In [0]:
SET IDENTITY_INSERT [dbo].[Socios] ON 
INSERT [dbo].[Socios] ([id], [nombres], [Apellidos], [fechaNacimiento], [Correo], [Telefono], [concepto]) VALUES (1, N'lorem', N'impsu', CAST(N'1943-12-12' AS Date), N'loremimpsu@lorem.com', N'123456789', N'Ahorro')
INSERT [dbo].[Socios] ([id], [nombres], [Apellidos], [fechaNacimiento], [Correo], [Telefono], [concepto]) VALUES (2, N'dsdf', N'dvsd', CAST(N'1943-12-04' AS Date), N'loremimpsu@kbsdh.com', N'987654321', N'Aportacion Social')
INSERT [dbo].[Socios] ([id], [nombres], [Apellidos], [fechaNacimiento], [Correo], [Telefono], [concepto]) VALUES (12, N'bgger', N'opñiukjyhj', CAST(N'2009-08-21' AS Date), N'sdqwdqw@dnsdkj.com', N'6545154', N'Retiro')
INSERT [dbo].[Socios] ([id], [nombres], [Apellidos], [fechaNacimiento], [Correo], [Telefono], [concepto]) VALUES (10, N'pjlknwe', N'gjtuewdf', CAST(N'2006-07-19' AS Date), N'jksdhbasdh@kjashc.com', N'36913436', N'Aportacion Social')
INSERT [dbo].[Socios] ([id], [nombres], [Apellidos], [fechaNacimiento], [Correo], [Telefono], [concepto]) VALUES (11, N'paokec', N'gbbnvbcf', CAST(N'2022-01-06' AS Date), N'bvdfsdk@lcoksd.com', N'2215648564', N'Ahorro')
INSERT [dbo].[Socios] ([id], [nombres], [Apellidos], [fechaNacimiento], [Correo], [Telefono], [concepto]) VALUES (13, N'luijth', N'vdfsdfs', CAST(N'2022-01-01' AS Date), N'sjdnjkd@dsasad.com', N'654151457', N'Retiro')
SET IDENTITY_INSERT [dbo].[Socios] OFF
GO